@font-face { 
	font-family: "Roboto Light"; 
	src: url("/public/assets/Roboto-Light.ttf"); 
}

	
html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;

	background: rgba(55,107,139,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(55,107,139,1) 0%, rgba(45,87,114,1) 51%, rgba(28,53,69,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(55,107,139,1)), color-stop(51%, rgba(45,87,114,1)), color-stop(100%, rgba(28,53,69,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(55,107,139,1) 0%, rgba(45,87,114,1) 51%, rgba(28,53,69,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(55,107,139,1) 0%, rgba(45,87,114,1) 51%, rgba(28,53,69,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(55,107,139,1) 0%, rgba(45,87,114,1) 51%, rgba(28,53,69,1) 100%);
	background: radial-gradient(ellipse at center, rgba(55,107,139,1) 0%, rgba(45,87,114,1) 51%, rgba(28,53,69,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#376b8b', endColorstr='#1c3545', GradientType=1 );

	color: white;
    font-family: "Roboto Light";  

}

body {
    background-image: radial-gradient(rgba(255, 255, 255, 0.5) 1px, transparent 0);
    background-size: 96px 96px;
    background-position: -16px -16px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


svg {
	-webkit-animation:spin 30s linear infinite;
    -moz-animation:spin 30s linear infinite;
    animation:spin 30s linear infinite;
}

#el {
	position: absolute;
	top: Calc(50%);
	left: Calc(50%);
	transform: translate(-50%,-50%);
}

#page_container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#program {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 250px;
}

#keyboard {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 200px;
}

.key {
	display: inline-block;
	height: 45px;
	-webkit-box-shadow:inset 0px 0px 0px 1px white;
    -moz-box-shadow:inset 0px 0px 0px 1px white;
    box-shadow:inset 0px 0px 0px 1px white;
	line-height: 45px;

}

.key span {
	line-height: 45px;
}

.key.x1 {
	width: 88px;
}

.key.x2 {
	width: 176px;
}

.key.x3 {
	width: 256px;
}

.key.x4 {
	width: 350px;
}

.key.x6 {
	width: 528px;
}

.keyboard-line {	
	height: 45px;
	text-align: center;
}


.keyboard-line:not(:first-child) {
	margin-top: 6px;
}

.key:not(:first-child) {
	margin-left: 6px;
}

.left {
	width: 40%;
	padding: 16px;
	float: left;
}

.right {
	float: right;
	overflow: auto;
	max-height: 100%;
	width: 40%;
	margin-top: 16px;
	margin-right: 16px;
}

tbody {
    display:block;
    height: 250px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}

table {
	border: 1px white solid;
}
thead {
	border-bottom: 1px white solid;
}